openai==0.27.2
matplotlib
plotly
scipy
scikit-learn
gradio
pyyaml
tiktoken
backoff
IPython
faiss-cpu
#faiss-gpu
llama-index
spacy
sentence-transformers
icetk
cpm_kernels
pydub
openai-whisper
setuptools-rust
azure-cognitiveservices-speech
paddlepaddle
paddlespeech
opencv-python
